<%= link_to 'Back to Admin', admin_path, class: "btn btn-danger" %>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_react_component_path(@react_component) %> |
<%= link_to 'Back', react_components_path %>
