<%= link_to 'Back to Admin', admin_path, class: "btn btn-danger" %>


<h1>Editing Component Prop</h1>

<%= render 'form' %>

<%= link_to 'Show', @component_prop, class:"btn btn-info" %> <br>
<%= link_to 'Back', component_props_path, class:"btn btn-primary" %>
